
versionchecker.egg-info/dependency_links.txt
versionchecker.egg-info/PKG-INFO
versionchecker.egg-info/top_level.txt
versionchecker.egg-info/SOURCES.txt
.idea/workspace.xml
.idea/version checker.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
dist/versionchecker-1.0.0.tar.gz
